modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 38927
externalPort = 3001

[[ports]]
localPort = 42857
externalPort = 3000

[userenv]

[userenv.shared]
PHONE_NUMBER_ID = "848441401690739"
FB_PAGE_ID = "118584934681142"
OPENAI_MODEL = "gpt-4o"
VERIFY_TOKEN = "whatsapp_webhook_verify_token_2025"
WABA_ID = "3646219455517188"
